.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: sans-serif;
}

.pageTitle {
  font-size: 3rem;
  font-weight: 700;
  color: #064421;
  margin-bottom: 1.5rem;
  text-align: center;
}

.section {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}